body {
    background-color: #D3D3D3;
}

#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pro1 {
    width: 300px;
    text-align: center;
    border: 5px solid black;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 20px;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.price {
    font-weight: 600;
    font-size: 16px;
}

.pro1 img {
    width: 200px;
    height: 200px;
}
.input {
    margin-bottom: 20px ;
}

.description {
    height: 100px;
}